<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container-fluid" id="menu">
        <a class="navbar-brand">Easy Clothes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#combinedNavbar"
                aria-controls="combinedNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="combinedNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('accueil') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('produits') }}">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('creations') }}">Creations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('nouveautes') }}">Nouveautes</a>
                </li>
            </ul>
        </div>
    </div>
</nav>